.container-grid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 1160px;
}

.flex-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  flex:0 1 auto
}

.picture-circle {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
}

.padding-box {
  padding: 40px 30px;
}

// display 

.u-d--ib {
  display: inline-block;
}

.u-d--b {
  display: block;
}

.u-d--f {
  display: flex;
}

// text align

.u-tac {
  text-align: center;
}

.u-tal {
  text-align: left;
}

.u-tar {
  text-align: right;
}

// center block

.u-block--center {
  margin-left: auto;
  margin-right: auto;
}

// padding left

.u-pdl--xs {
  padding-left: 5px;
}

.u-pdl--s {
  padding-left: 10px;
}

.u-pdl--m {
  padding-left: 20px;
}

.u-pdl--l {
  padding-left: 30px;
}

// padding

.u-pd--xs {
  padding: 5px;
}

.u-pd--s {
  padding: 10px;
}

.u-pd--m {
  padding: 20px;
}

.u-pd--l {
  padding: 30px;
}

// padding right

.u-pdr--xs {
  padding-right: 5px;
}

.u-pdr--s {
  padding-right: 10px;
}

.u-pdr--m {
  padding-right: 20px;
}

.u-pdr--l {
  padding-right: 30px;
}

// margin left
.u-mgl--0 {
  margin-left: 0px;
}

.u-mgl--xs {
  margin-left: 5px;
}

.u-mgl--s {
  margin-left: 10px;
}

.u-mgl--m {
  margin-left: 20px;
}

.u-mgl--l {
  margin-left: 30px;
}

// margin
.u-mg--0 {
  margin: 0px;
}

.u-mg--xs {
  margin: 5px;
}

.u-mg--s {
  margin: 10px;
}

.u-mg--m {
  margin: 20px;
}

.u-mg--l {
  margin: 30px;
}

// margin right
.u-mgr--0 {
  margin-right: 0px;
}

.u-mgr--xs {
  margin-right: 5px;
}

.u-mgr--s {
  margin-right: 10px;
}

.u-mgr--m {
  margin-right: 20px;
}

.u-mgr--l {
  margin-right: 30px;
}

// margin top
.u-mgt--0 {
  margin-top: 0px;
}

.u-mgt--xs {
  margin-top: 5px;
}

.u-mgt--s {
  margin-top: 10px;
}

.u-mgt--m {
  margin-top: 20px;
}

.u-mgt--l {
  margin-top: 30px;
}

// margin bottom
.u-mgb--0 {
  margin-bottom: 0px;
}

.u-mgb--xs {
  margin-bottom: 5px;
}

.u-mgb--s {
  margin-bottom: 10px;
}

.u-mgb--m {
  margin-bottom: 20px;
}

.u-mgb--l {
  margin-bottom: 30px;
}

//max max-width
.u-mw{
  width: 100%;
}
@media (max-width: 1199px) {
  .padding-box {
    padding: 30px 20px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.7em;
  }
  .padding-box {
    padding: 30px 10px;
  }
  .picto-page {
    display: inline-block;
    vertical-align: middle;
    +h1 {
      width: calc(100% - 80px);
    }
  }
  .notif-clock {
    top: 40px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5em;
    margin: 10px 2px 10px 5px;
  }
  .padding-box {
    padding: 20px 10px;
  }
  .input,
  .select {
    width: 100%;
  }
  .body-wrapper {
    padding: 10px 15px 20px 15px;
  }
  .picto-page {
    display: inline-block;
    vertical-align: middle;
    +h1 {
      width: calc(100% - 40px);
    }
  }
  .notif-clock {
    top: 8px;
    right: 15px;
  }
}


@media (max-width: 767px) {
  .hidden-xs { display: none !important; }
  .text-center-xs { text-align: center!important; }
  .group-xs { margin-bottom: 15px!important; }
  .spacing-xs { padding-left:15px;padding-right:15px; }
  .no-spacing-xs { padding: 0!important; }
  .no-spacing-left-xs { padding-left: 0!important; }
  .no-spacing-top-xs { padding-top: 0!important; }
  .no-spacing-right-xs { padding-right: 0!important; }
  .no-spacing-bottom-xs { padding-bottom: 0!important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none !important; }
  .text-center-sm { text-align: center!important; }
  .group-sm { margin-bottom: 15px!important; }
  .spacing-sm { padding-left:15px;padding-right:15px; }
  .no-spacing-sm { padding: 0!important; }
  .no-spacing-left-sm { padding-left: 0!important; }
  .no-spacing-top-sm { padding-top: 0!important; }
  .no-spacing-right-sm { padding-right: 0!important; }
  .no-spacing-bottom-sm { padding-bottom: 0!important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none !important; }
  .text-center-md { text-align: center!important; }
  .group-md { margin-bottom: 15px!important; }
  .spacing-md { padding-left:15px;padding-right:15px; }
  .no-spacing-md { padding: 0!important; }
  .no-spacing-left-md { padding-left: 0!important; }
  .no-spacing-top-md { padding-top: 0!important; }
  .no-spacing-right-md { padding-right: 0!important; }
  .no-spacing-bottom-md { padding-bottom: 0!important; }
}
@media (min-width: 1200px) {
  .hidden-lg { display: none !important; }
  .text-center-lg { text-align: center!important; }
  .group-lg { margin-bottom: 15px!important; }
  .spacing-lg { padding-left:15px;padding-right:15px; }
  .no-spacing-lg { padding: 0!important; }
  .no-spacing-left-lg { padding-left: 0!important; }
  .no-spacing-top-lg { padding-top: 0!important; }
  .no-spacing-right-lg { padding-right: 0!important; }
  .no-spacing-bottom-lg { padding-bottom: 0!important; }
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-12 {
  flex-basis: 100%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
}

.col-xs-9 {
  flex-basis: 75%;
}

.col-xs-8 {
  flex-basis: 66.66666667%;
}

.col-xs-7 {
  flex-basis: 58.33333333%;
}

.col-xs-6 {
  flex-basis: 50%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
}

.col-xs-3 {
  flex-basis: 25%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    flex-basis: 100%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
  }
  .col-sm-9 {
    flex-basis: 75%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
  }
  .col-sm-6 {
    flex-basis: 50%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
  }
  .col-sm-3 {
    flex-basis: 25%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    flex-basis: 100%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
  }
  .col-md-9 {
    flex-basis: 75%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
  }
  .col-md-6 {
    flex-basis: 50%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
  }
  .col-md-3 {
    flex-basis: 25%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    flex-basis: 100%;
  }
  .col-lg-11 {
    flex-basis: 91.66666667%;
  }
  .col-lg-10 {
    flex-basis: 83.33333333%;
  }
  .col-lg-9 {
    flex-basis: 75%;
  }
  .col-lg-8 {
    flex-basis: 66.66666667%;
  }
  .col-lg-7 {
    flex-basis: 58.33333333%;
  }
  .col-lg-6 {
    flex-basis: 50%;
  }
  .col-lg-5 {
    flex-basis: 41.66666667%;
  }
  .col-lg-4 {
    flex-basis: 33.33333333%;
  }
  .col-lg-3 {
    flex-basis: 25%;
  }
  .col-lg-2 {
    flex-basis: 16.66666667%;
  }
  .col-lg-1 {
    flex-basis: 8.33333333%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
}
