#installer {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row !important;
  color: $dark;

  .form {
    border: 1px solid $grey;
    margin-bottom: 15px;
    @include box-shadow();
  }


} 

.form-installer {
  > div { padding: 15px 5px; }
  label { margin-bottom: 10px; display: inline-block; }
}

.asterisque { color: red; }