#landing {
  .container { max-width: 1160px; }
  .row { flex-wrap: wrap; }
  #burger {
      display: none;
      cursor: pointer;
      z-index: 1300;
      position: absolute;
      top: 8%;
      right: 5%;
      width: 38px;
      height: 26px; 
      .line {
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #fff;
          transition: .3s all ease-in-out;
          top: 0;

          &.l2 { top: 8px; }
          &.l3 { top: 16px;width: 1.5vw; }
      }

      &:hover {
        .line {
            &.l1, &.l3 {
                transform: translateX(8px);
                width: 100%;
            }
            &.l2 { transform: translateX(-5px);width: 50%; }
        }
      }
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
  }

  h1 {
    margin: 0;
    font-size: 64px;
    color: white;
    margin: 5px 0;
  }

  h2 {
    margin: 0;
    font-size: 48px;
    color: white;
    margin: 5px 0;
  }

  p {
    font-size: 24px;
    color: white;
  }

  p.blue {
    color: #379085;
  }

  img {
    max-width: 100%;
  }

  .subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 36px;
  }

  .overlay {
    position: relative;
  }

  .overlay:after {
    content: '';
    background-color: rgba(55, 144, 133, 0.45);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  /* Landing page */

  nav.nav-top {
    position: absolute;
    top: 5%;
    right: 15px;
    display: flex;
    z-index: 8;
    right: 5%;
  }

  nav.nav-top .connect-option {
    display: flex;
  }

  nav.nav-top .connect-option li+li {
    margin-left: 15px;
  }

  nav.nav-top>.main-menu {
    margin-right: 10vw;
  }

  nav.nav-top a {
    text-decoration: none;
    color: white;
  }

  nav.nav-top>.main-menu>li {
    display: inline-block;
    vertical-align: bottom;
  }

  nav.nav-top>.main-menu>li+li {
    margin-left: 15px;
  }

  nav.nav-top>.main-menu>li>a {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 10px 7px;
    color: white;
  }

  nav.nav-top>.main-menu>li.active>a,
  nav.nav-top>.main-menu>li:hover>a {
    border-bottom: 3px solid rgba(55, 144, 133, 0.45);
  }

  .btn {
    display: inline-block;
    background-color: rgba(55, 144, 133, 0.43);
    border-radius: 9px;
    font-size: 15px;
    color: white;
    padding: 20px 40px;
    border: none;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
  }

  .btn:hover {
    background-color: rgba(55, 144, 133, 1);
    cursor: pointer;
  }

  .btn.tiny {
    padding: 10px 20px;
  }

  .btn.op {
    background-color: #379085;
  }

  .btn.op:hover {
    background-color: rgba(55, 144, 133, 0.77);
  }

  #logo {
    position: absolute;
    left: 5%;
    top: 5%;
  }

  #slider-home {
    height: 100vh;
    width: 100%;
    background-image: url('../../img/background-home.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  #slider-home:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 144, 133, 0.5);
  }

  #slider-home:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    background-image: url('../../img/background-vector.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size:cover;
  }

  #slider-home .chevron-down {
    z-index: 7;
    position: absolute;
    display: inline-block;
    bottom: 4%;
    left: 50%;
    font-size: 40px;
    cursor: pointer;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation-name: rebond;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    width: 84px;
    height: 40px;
    background-image: url('../../img/chevron-down.png');
    background-repeat: no-repeat;
    background-position: 50%;
  }

  #slider-home .skew-right {
    height: 100%;
  }

  #slider-home .bloc-slider {
    position: absolute;
    right: 2%;
    z-index: 5;
    width: 500px;
    top: 45%;
    transform: translateY(-50%);
  }

  @keyframes rebond {
    0% {
      bottom: 4%;
    }
    50% {
      bottom: 7%;
    }
    100% {
      bottom: 4%;
    }
  }

  #band {
    padding: 40px 0;
  }

  #band:before {
    content: '';
    background-image: url('../../img/background-band.png');
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #band .text-band {
    position: relative;
    z-index: 8;
    width: 50%;
    margin: 0 auto;
  }

  #band.overlay:after {
    background-color: rgba(55, 144, 133, 0.9);
  }

  .border-landing {
    border-top: 40px solid #304A52;
  }

  #creation,
  #community {
    color: #379085;
    padding: 100px 15px;
  }

  #creation .img-box:before {
    background-image: url('../../img/creation.png');
  }

  #community .img-box:before {
    background-image: url('../../img/community.png');
  }

  #creation p,
  #community p {
    color: #379085;
    margin: 30px 0;
  }

  #creation h2,
  #community h2 {
    color: #379085;
  }

  .img-box {
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(55, 144, 133, 0.45);
    width: 100%;
    padding-top: 65%;
    position: relative;
  }

  .img-box:before {
    content: "";
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.2s;
  }

  .img-box:hover:before {
    transform: scale(1.1);
  }

  footer {
    background-color: #379085;
    padding: 25px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
  }

  #menu-footer>ul {
    display: flex;
  }

  #menu-footer>ul>li {
    padding: 0px 3%;
    white-space: nowrap;
  }

  #menu-footer>ul>li>a:hover {
    color: rgb(48, 74, 82);
  }

  #menu-footer a {
    color: white;
    text-decoration: none;
  }

  footer .mention {
    width: 325px;
    margin-left: 5%;
  }

  #logo-footer {
    margin-right: 5%;
  }

  #contact { background-color: #304a52;padding: 40px 0px;
    input[type="text"], textarea { box-sizing: border_box; border: none; border-radius: 4px;width: 100%;}
    input[type="text"] { height: 25px; }
    textarea { height: 100px; max-height: 150px;max-width: 100%;}
    label {color: white;display: block;margin-bottom: 10px;font-size: 16px;}
    form { width: 60%;margin: 0 auto;
      > div { margin: 10px 0;}
    }
  }

  @media screen and (max-width: 1600px) {
    h1 {
      font-size: 45px;
    }
    .subtitle {
      font-size: 28px;
    }
    p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 1199px) {
    #slider-home .bloc-slider {
      width: 90%;left: 50%;right: auto;transform: translateY(-50%) translateX(-50%);text-align: center;background-color: rgba(55, 144, 133, 0.65);padding: 19px 13px; border-radius: 10px;
      .btn { background-color: white; color: #379085;
        &:hover { opacity: 0.5;}
      }
    }
    .border-landing { border-top: 10px solid #304A52; }
    #creation, #community { padding: 40px 15px; }
    #band {
      .text-band { width: 95%; }
    }
    #burger {display: block;}

    footer { justify-content: center;
      .mention {flex-basis: 100%;margin: 20px 0 0 0;}
    }

    nav.nav-top  { padding-top: 45px;z-index: 999;display:block;margin:0;position: fixed; left:100%;top: 0;bottom: 0; transition: left ease-in-out 0.4s;width: 100%;background-color: rgba(73, 197, 182, 0.83);
      > .main-menu
      {
        > li { display: block;margin-left: 15px;
          > a { display: block;font-size: 40px;}
        }
      }
      .connect-option { justify-content: center; position: absolute; top: 5px; left: 0; right: 0;
        a { display: inline-block;padding: 10px 20px;}
       }
      &.open { left: 0; }
    }
  }

  @media screen and (max-width: 991px) {
    .img-box { width: 70%;padding-top: 45%;margin: 0 auto; }
    #creation .img-box { margin-top: 15px; }
  }

  @media screen and (max-width: 767px) {
    h1 {font-size: 30px;}
    h2 {font-size: 30px;}
    p {font-size: 14px;}
    .btn { padding: 15px 40px; }
    .subtitle { font-size: 21px;}
    #contact form {width: 80%;}
  }
  @media screen and (max-width: 400px) {
    nav.nav-top>.main-menu>li>a {font-size: 30px;}
    #contact form {width: 95%;}
    .img-box {width: 100%;padding-top: 70%;}
    #slider-home .bloc-slider { top: 55%; }
  }
}
