.sideNav {
  background: $dark;
  border-right: 10px solid $highlight;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  width: 350px;

  .header, .nav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  }

  .header {
    padding: 5vh 3%;

    .picture-circle { width: 115px;height: 115px;}

    h2 {
      color: white;
      margin-bottom: .3em;
    }

    span {
      display: block;
      color: $grey2;
      margin-bottom: 1em;
    }

    a {
      color: $highlight;
      &:hover { text-decoration: underline; }
    }
  }
  .nav {
    padding: 3em 0;

    ul {
      
      li {


        a {
          text-decoration: none;
          font-weight: 500;
          color: white;
          display: inline-block;
          padding: 1.1em 1.5em;
          text-transform: uppercase;
          position: relative;
          img { width: 18px; margin-right: 7px;}
          > span, img { display: inline-block;vertical-align: middle; }

          &.selected {
            @include box-shadow(black, 0.25);
            @include underline('left', 5px);            
          }
          &:hover {
            @include underline('left', 5px);
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .sideNav {
    width: 250px;

    .header { padding: 1.5em; }
  }
}


@media (max-width: 992px) {
  .picto-page { width: 32px; } 

}
@media (max-width: 767px) {
  .picto-page { width: 24px; }
  .sideNav {
    width: 75px;border-right: 5px solid rgb(119, 211, 200);

    .nav {padding:0;}

    .header { padding: 6px; 
      .picture-circle { width: 53px;height: 53px; }
    }
  }
}