.h-auto { height: auto!important; }

$color: #473F3F;
$opacity: .5;
#site { padding-bottom: 75px;

  .relative { position: relative; }
  .action-article { 
    position: absolute;
    right: 5px;
    top:5px;
    > * { margin: 0 5px; vertical-align: middle!important; }
    .fas { border-radius: 100%; border:1px solid grey; text-align: center;height: 30px;width: 30px; line-height: 30px; }
    .fa-thumbs-up, .fa-thumbs-down { transition: background-color ease-in-out 0.2s; background-color: white; cursor: pointer; }
    .fa-thumbs-up { color:#4fb94f;
      &:hover, &.active { background-color: #4fb94f; color:white;border-color:#4fb94f; }
    }
    .fa-thumbs-down { color:#d83030; 
      &:hover, &.active { background-color: #d83030; color:white;border-color:#d83030; }
    }
  }
  .display-ib { display: inline-block; }
  .round-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 100%;
    color: white;
    font-size: 10px;
    width: 14px;
    background-color: #473f3f;
    text-align: center;
    height: 14px;
    line-height: 14px;
  }
 
  .header {
    background: $color; 
    color: white;
    width: 100%;
    margin-bottom: 3em;

    .banner {
      background: linear-gradient(to left, rgba($color, $opacity), rgba($color, $opacity)), url('../../img/frontHeaderBanner.png');
      background-size: cover;
      min-height: 300px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .banner-content {
      text-align: center;
    }

    .banner-title {
      font-family: 'Rochester', cursive;
      color: white;
      font-size: 6em;
      margin: 0 0 24px 0;
    }

    .banner-subtitle {
      margin-top:0px;
      color: rgba(white, 0.8);
    }

    .banner-social > a {
      font-size: 35px;
      padding: 8px;

      .fab, .fas { color:white;transition: color ease-in-out 0.2s;
        &:hover { color:#473f3f; }
      }
    }
    
    .banner-social > img {
      width: 40px;
      margin-right: .5em;
    }

    .navbar {
      display: flex;
      padding: 0.9em 2em;
      width: 100%;
 
      ul.main-menu { padding-left: 0; 
        > li { display: inline-block;list-style: none;position: relative; margin: 0 2px;
          a {
            color: white;
            padding: .8em 1em;
            display: inline-block;
          }
          > a {     
            &.selected, &:hover {
              border-radius: $radius;
              background: rgba(black, 0.3);
            }
          }

          &:hover > ul { display: block; }
          ul { 
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            min-width: 200px;
            background-color: #877b7a;
            border-radius: 4px;
            z-index: 55;

            a:hover { color: $color; }
          }
        }
      }

      .right {
        margin-left: auto;
        a {
          color: white;
          padding: .8em 1em;
          display: inline-block;
        }
        > a {     
          &.selected, &:hover {
            border-radius: $radius;
            background: rgba(black, 0.3);
          }
        }
      }
    }

  
  }
  .filter-cat {
    background-color: rgba(243, 244, 244, 0.27058);
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 5px 25px;

    input[type="submit"] {     float: right;
      margin-top: 12px; }
  }
  .description { 
    p { margin: 0; }
   }
   .spacing-bottom { margin-bottom: 25px; }
  .content {
    .article {
      @include box-shadow();
      border-radius: $radius;
      overflow: hidden;
  
      .header {
        background: $color; margin-bottom:0;

        h1 {
          color: white;
        }
  
        h2 {
          margin: 0;
          padding: 1em;
          color: white;
        }
      }
    }

    .images {
      display: flex;

      img {
        margin-right: 2em;
        height: 300px;
      }
    }

    .contact-form {
      display: block;
      max-width: 500px;
    }
  }

  .thumbnail {
    border-radius: 5px;
    border: 1px solid #ddd;
    
    .photo { height: 250px; position: relative;overflow: hidden;
      > div { width: 100%;height: 100%; transition: transform ease-in-out 0.15s;background-size:cover; background-position:center; position: absolute; left: 50%; top:50%; transform: translateY(-50%) translateX(-50%) scale(1); }
    }

    h3 { margin-left:0; margin-right:0; }
    .caption { padding: 15px; }

    &:hover {
      .photo > div { transform: translateY(-50%) translateX(-50%) scale(1.2); }
    }
  }

  .author { font-size: 12px; }
  .img-container { position:relative; margin: 10px 0; background-color: #f3f3f3; min-height: 35px;
    .badge-position { position: absolute; bottom: 7px; right:5px; border-radius: 100%; width: 25px;height: 25px; line-height: 25px; font-size: 12px; background-color: $dark;color:white;}
  }
  .comm { padding: 15px 0;

    + .comm { border-top: 1px solid #ccc; }
  }
  .comm-field {
    margin: 15px 0;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%; 
  }

  #contact {
    input[type="text"], textarea { box-sizing: border-box; border: 1px solid #c1c1c1; border-radius: 4px;width: 100%;padding: 5px;}
    input[type="text"] { height: 25px; }
    textarea { height: 100px; max-height: 150px;max-width: 100%;}
    label {color: #473f3f;display: block;margin-bottom: 10px;font-size: 16px;}
    form { width: 60%;margin: 0 auto;
      > div { margin: 10px 0;}
    }
  }
  + footer { 
    background-color: $color;
    padding: 20px 0;
    color:white;
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  
    a { color:white; }
   }
}
