// colors
$dark: #304A52;
$dark2: #379085;
$highlight: #77D3C8;
$highlight2: #49C5B6;
$grey: #EBF2F9;
$grey2: #D5DCE3;
$white: #FFFFFF;
$text: #304A52;

@mixin box-shadow($color: black, $opacity: 0.11) {    
    box-shadow: 0px 0px 45px rgba($color, $opacity);    
}    
    
@mixin underline($position, $width, $padding: 0px, $color: $highlight) {    
    &:before {    
        position: absolute;    
        content: '';    
        background: $color;    
        @if $position == 'bottom' {    
            left: 0px;    
            bottom: $padding;    
            height: $width;    
            width: 100%;    
        } @else if $position == 'top' {    
            left: 0px;    
            top: $padding;    
            height: $width;    
            width: 100%;    
        } @else if $position == 'left' {    
            left: $padding;    
            width: $width;    
            top: 0px;    
            height: 100%;    
        } @else if $position == 'right' {    
            top: 0px;    
            width: $width;    
            right: $padding;    
            height: 100%;    
        }    
    }    
}

// radius
$radius: .4em;

@import 'dist/normalize';
@import url('https://fonts.googleapis.com/css?family=Cantarell');
@import url('https://fonts.googleapis.com/css?family=Rochester');
@import 'framework';
@import 'landing';
@import 'installer';
@import 'site';

@import 'backoffice/sideNav';
@import 'backoffice/backContent';
@import 'backoffice/parametres';
@import 'backoffice/dashboard';
@import 'backoffice/statistique';
@import 'backoffice/details';

body {
	font-family: 'Cantarell', sans-serif;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	outline: none;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 1em;
	padding: 0;
}

h1 {
	color: #304A52;display: inline-block;vertical-align: middle; margin-left: 15px;
}
.picto-page { display: inline-block;vertical-align: middle;  max-width: 60px;
	+ h1 { width: calc(100% - 115px); }
}
a {
	color: $dark;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding: 0;
	}
}
img { max-width: 100%; }
.cf:before, .cf:after {
	content: '';
	display: table-cell;
}

.cf:after {
	clear: both;
}

.wrapper {
	margin: 0 auto;
}
.full { width: 100%; }
.button {
	border: 1px solid $grey;
	background: white;
	color: $dark;
	font-size: .8em;
	border-radius: $radius;
	padding: .8em 2em;
	display: inline-block;
	cursor: pointer;
	transition: all ease-in-out 0.3s;

	&:hover { border-color: #304a52; }
}

.input, .select {
	padding: 1.2em 1.5em;
	border: 1px solid #dbdbdb;
	background: white;
	color: $dark;
	border-radius: $radius;
	max-width: 100%;
}

.btn-validate {
	color: white;
	background: $highlight2;
	&:hover { background-color: #5ee6d5;border: 1px solid #EBF2F9; }
}

.container {
	border-radius: $radius;
	justify-content: space-between;
	@include box-shadow();
}

.ctn-nav {
	padding-left: 0;
	margin-bottom: 40px;
	position: relative;

	.btn-add {
		background-color: $highlight; 
		width: 30px;
	    height: 30px;
	    font-size: 20px;
	    color: white;
	    font-weight: bold;
		position: relative;
		border-radius: 100%;
		display: block;
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		transition: background-color ease-in-out 0.4s;
		cursor: pointer;

		&:after {
			content: '+';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);			
		}
		
		&:hover {
			background-color: $dark; 
		}
	}
}

.notif-clock {
	border-radius: 100%;
	border: 2px solid #D5DCE2;
	width: 40px;
	height: 40px;
	background-image: url(../../img/clock.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
    position: absolute;
    right: 40px;
    top: 50px;
    transition: border ease-in-out 0.4s;

    &:hover { border: 2px solid $highlight; }
    > span {
	 	position: absolute;
	    bottom: -6px;
	    right: -6px;
	    background-color: #77D3C8;
	    border-radius: 100%;
	    color: white;
	    width: 20px;
	    display: inline-block;
	    height: 20px;
	    font-weight: bold;
	    font-size: 12px;
	    text-align: center;
	    line-height: 20px;
    }	
}

.picture-circle { background-size: cover; background-position: 50% 50%; border-radius: 100%; }
.padding-box { padding: 40px 30px; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.bloc-center { margin-left: auto; margin-right: auto;}



.spacing { padding-left: 15px;padding-right: 15px; }
.spacing-left { padding-left: 15px; }
.spacing-right { padding-right: 15px; }

@media (max-width: 1199px) {
    .padding-box {padding: 30px 20px;}  
}
@media (max-width: 992px) {
  	h1 {font-size: 1.7em;  }
    .padding-box {padding: 30px 10px;}
	.picto-page { display: inline-block;vertical-align: middle; 
		+ h1 { width: calc(100% - 80px); }
	}  
	.notif-clock { top: 40px; }    
}
@media (max-width: 767px) {
	h1 {font-size: 1.5em; margin: 10px 2px 10px 5px; }
    .padding-box {padding: 20px 10px;}

	.input, .select { width: 100%; }
	.body-wrapper {
		padding:10px 15px 20px 15px;
	}
	.picto-page { display: inline-block;vertical-align: middle; 
		+ h1 { width: calc(100% - 40px); }
	}  
	.notif-clock { top: 8px;right: 15px; }    
}

.notif-titre
{
	margin: 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.notif
{
	position: relative;
	padding: 25px 30px 25px 100px;
	margin: 0px 0px 10px 0px;
	min-height: 50px;
	line-height: 22px;
	border-radius: 2px;
	font-size: 13px;
	box-shadow: 1px 1px 5px #aaa;
	background-color: #f1f1f1;
	opacity: 0;
	animation: append 0.4s forwards linear;
}
.notif.small
{
    padding: 9px 26px 9px 75px;
    margin: 10px 0px;
    min-height: 70px;
}
.notif.small .notif-icone
{
	top: 17px;
	left: 18px;
	width: 35px;
	height: 35px;
}
@keyframes append
{
	100%
	{
		opacity: 1;
	}
}
.notif-icone
{
	content: '';
    position: absolute;
    top: 25px;
    left: 30px;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-radius: 25px;
}
.notif-icone:before
{
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	color: white;
}
.notif.valid .notif-icone:before
{
	content: "\f00c";
}
.notif.valid .notif-icone
{
	background: #a7d155;
    border-color: #8fb14f;
}
.notif.error .notif-icone:before
{
	content: "\f00d";
}
.notif.error .notif-icone
{
    background: #e34f4f;
    border-color: #c14343;
}
.notif.information .notif-icone:before
{
	content: "\f129";
}
.notif.information .notif-icone
{
    background: #77abd2;
    border-color: #618bab;
}  

.on-off
{
	width: 0px;
	display: none;
}
.on-off + label
{
	padding: 2px;
	width: 43px;
	height: 25px;
	background-color: #dddddd;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 5px 10px 5px 0px;
}
.on-off + label:before,
.on-off + label:after
{
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";		
}

.on-off + label:before 
{
	right: 1px;
	background-color: #a7a7a7;
	border-radius: 25px;
	transition: background 0.4s;
}
.on-off + label:after 
{
	width: 23px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}
.on-off:checked + label:before 
{
	background-color: #77D3C8;
}
.on-off:checked + label:after 
{
	margin-left: 18px;
}  