.body-wrapper {
  margin-left: 350px;
  width: calc(100% - 350px);
  padding: 20px 40px 40px 40px;
}
.content {
  .nav-links { 
    border-radius: .4em;
    a {
      padding: 1.5em 3em;
      display: inline-block;
      position: relative;
      &.selected, &:hover {
        @include underline('bottom', 3px, 0);
      }
    }
  }

  .nav-options { 
    position: absolute;
    right: 1.5em;
    top: 50%; 
    transform: translateY(-50%);

    div {
      float: left;
      margin: 0;
      padding: 0;

      a {
        padding: .5em 1em;
        float: left;
        border: 2px solid $grey2;

        &.selected {
          border: 2px solid transparent;
          background: $highlight2;
          color: white
        }
        &:hover:not(.selected) {
          border: 2px solid transparent;
          background: $dark;
          color: white
        }        
      }

      &:not(:first-child) a { border-left: 0; }
      &:first-child a { border-radius: $radius 0 0 $radius; }
      &:last-child a { border-radius: 0 $radius $radius 0; }
    }
  }
}

.list {width: 100%;
  > .list-item {width: 100%;position: relative;
    padding: 20px 35px;
    &.indent-20 { padding-left: 20px; }
    &.indent-40 { padding-left: 40px; }
    &.indent-60 { padding-left: 60px; }
    &.indent-80 { padding-left: 80px; }
    &.indent-100 { padding-left: 100px; }
    &.indent-120 { padding-left: 120px; }
    &.indent-140 { padding-left: 140px; }
    .text-list { font-size: 20px; color: $dark;margin-bottom: 5px;}
    .details-list { font-size: 10px; color: $dark;opacity: 0.6;
      .date-details-list { background-image: url(../../img/clock.png);background-repeat: no-repeat;background-position: left 50%; padding-left: 12px;}
    }
    + .list-item { border-top: 2px solid #ECF2F9;}
      .panel-action { right:30px;position: absolute;top: 50%;transform: translateY(-50%);
        li { display: inline-block;
          a { position:relative;background-color: $dark; color:white; padding: 4px; width: 30px;height: 30px; display: block; border-radius: 4px; 
            
            &:hover { background-color: #49656e; }
            i { font-size: 12px; position: absolute; left:50%; top:50%; transform: translateX(-50%) translateY(-50%) }
          }
        }
      }
      .btn-edit-item { right:30px;position: absolute;top: 50%;transform: translateY(-50%);padding: 5px 15px;cursor: pointer;
      &:hover { 
        span, span:after, span:before {background-color: $dark2;}
      }

      &.open { z-index: 99;
        ul { display: block; }
      }

      ul { position: absolute;top: 30px;right: 0;@include box-shadow();background-color: white;display: none;
        > li {
          > a { display: inline-block;padding: 10px 10px;
            &:hover { color: $dark2; }
          }
        }
      }
    }
    .btn-edit-item > span { position: relative; }
    .btn-edit-item > span, .btn-edit-item > span:after, .btn-edit-item > span:before {content:"";display:inline-block;width: 5px;height: 5px;background-color: $dark;border-radius: 100%;}
    .btn-edit-item > span:after, .btn-edit-item > span:before { position: absolute;left:0; top: 0;}
    .btn-edit-item > span:before { transform: translateX(-8px); }
    .btn-edit-item > span:after { transform: translateX(8px); }
  }
}

.group { margin-bottom: 15px; }
@media (max-width: 1199px) {
  .body-wrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  .content .nav-links {
    a { padding: 1.5em 2em; }
  }    
}

@media (max-width: 991px) {
  .content {

    .nav-options {
      position: static;
      display: flex;
      transform: translateY(0);
      padding: 10px;

      > div { width: 25%;
        > a { width: 100%; text-align: center; }
      }
    }
    .nav-links {
      a { padding: 15px; }
    }    
  }    
}

@media (max-width: 767px) {
  .body-wrapper {
    margin-left: 75px;
    width: calc(100% - 75px);
  }
  .list {
    > .list-item { padding: 18px 38px 18px 15px;
      .text-list { font-size: 16px; }
      .btn-edit-item { right: 5px; }
    }
  }

  .content {
    .nav-options {
      font-size: 9px;

      > div { 
        > a { padding: .5em 0.2em; }
      }
    } 
    .nav-links { overflow: hidden;max-height: 49px;transition:max-height ease-in-out 0.4s;cursor: pointer;

      &.open { max-height: 500px; }
      &:before { content: attr(data-selected-filter); display: block;padding: 15px;background-color: $dark;color:white;}
      &:after { content: '>'; color: white; position: absolute;right: 10px; transform: rotate(90deg);top:15px;}
      a { padding: 15px; width: 100%; }
    }       
  }  

  .ctn-nav {
      &.small-xs {
        width: calc(100% - 50px);
        .btn-add {right: -45px;top: 25px;}
      }
  }
}