.dropzone
{
    position: relative;
    min-height: 150px;
    max-height: 300px;
    border: 2px dashed #CCCCCC;
    border-radius: 5px;
    overflow: auto;
    margin: 17px auto;
    display: block;

    &:after {
        content: attr(data-message);
        position: absolute;
        top: 50%;
        left: 0;
        right: 0; 
        height: 20px;
        margin-top: -10px;
        text-align: center;
        color: #005885;
    }
    
    &.dropOver
    {
        border: 2px dashed $highlight; 
    }
}

.miniature
{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 140px;
    max-width: 230px;
    position: relative;
    background-size: contain;
    border: 3px solid #e3e3e3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 5px;
    background-color: #e3e3e3; 
}
.loader
{
	position: absolute;
	right: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.48);
	background-image: url(../../../assets/img/loader.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50px;
}
.panel-action
{
	position: absolute;
	top: 5px;
    right: 5px;
    z-index: 8;
}
.action-button
{
	background-color: #0175b1;
	color: white;
	padding: 5px 7px;
	display: inline-block;
}
.action-button:hover
{
	background-color: #005885;
}

.input-form 
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 10px -0.15em 10px 0px;
}

.img-list {
    > li.row {
        align-items: center; position: relative;
    }
    
}
.img-list .photo
{ 
	height: 175px;
    width: 35%;
    max-width: 235px;
    border: 1px solid #cfcfcf;
    background-size: cover;
    background-position: 50%;
}
.img-input { padding-left: 15px; }
.photo
{
	background-color: #e3e3e3;
	text-align: center;
}
.bloc
{
    background-color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: $radius;

    textarea { height: 500px; width: 100%;
        &.small { height: 250px; }
    }

    label {
        font-size: 18px;
        margin-bottom: 10px;
        color: $dark;
        display: block;
    }
}
.bloc-titre
{
    display: block;
    padding: 20px;
    background-color: $highlight;
    color: white;
    font-size: 20px;
}
.bloc-content
{
    padding: 25px 20px;
    word-break: break-word;
}

.input-file
{
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    display: inline-block;
}
input[type="file"]
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
}
input[type="file"]:hover + .boutonImg
{
    background-color: #007FC0;
}