#stats {
  i { color: $dark; }
  .calendar {
    max-width: 100% !important;

    .stats-info {
      display: inline-block;
      text-align: center;
      padding: 3em 1em;

      .title {
        text-transform: uppercase;
        font-weight: bold;
        color: $dark;
        font-size: 1.2em;
      }
      .content {
        padding: .8em;
        display: block;
        font-size: 1.2em;
        color: $highlight;
      }
    }
  }

  .switch-date--content {
    display: inline-block;
    position: relative;

    .date {
      opacity: 0.6;
      color: $dark;
    }

    .date-update {
      opacity: 0.3;
      color: $dark2;
    }

    &:before, &:after {
      content: "";
      background-position: cover;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
    }

  

    &:before {
      background: url("/assets/img/leftArrow.svg") no-repeat;
      left: -100px;
      
    }
    &:after {
      background: url("/assets/img/rightArrow.svg") no-repeat;
      right: -125px;
    }
  }
}