
.switch-date{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  .img{
  	display: inline-block;
    vertical-align: middle;


  }
  #upper-text{
    opacity: 0.6;
    color: $dark;
  }
  #bottom-text{
    opacity: 0.3;
    color: $dark2;
  }
  .chevron-gauche {
    margin-right: 10%;
    width: 40px;
  	height: 40px;
  }
  .chevron-droit {
    margin-left: 10%;
    width: 40px;
  	height: 40px;
  }

}

.img:before{
	content: "";
	background: url("../img/leftArrow.svg");
	display: inline-block;vertical-align: middle;
	width: 15px;
	height: 15px;
}
.img:after{
	content:"";
	background: url("../img/rightArrow.svg");
	display: inline-block;vertical-align: middle;
	width: 15px;
	height: 15px;
 }
